<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevExpressGridInconsistencyDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DevExpressGridInconsistencyDemo.Properties.Settings>
            <setting name="DBInstance" serializeAs="String">
                <value>localhost\TEST</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>DXTEST</value>
            </setting>
            <setting name="DBWindowsLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>password</value>
            </setting>
        </DevExpressGridInconsistencyDemo.Properties.Settings>
    </applicationSettings>
</configuration>